* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    display: block;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    padding: 30px 0;
    line-height: 50px;
    justify-content: space-between;
}

.header__logo {
    width: 25%;
    height: 100%;
}

.header__navbar {
    padding: 0 15px;
}

.header__link-img{
    /* padding: 9px 0; */
    margin-top: 15px;
    object-fit: contain;
}

.header__with-search {
    width: 50%;
    height: 50px;
    padding: 0 15px;
}
input[type="test"] {
    color: #888;
}

.header__search {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #f5f5f5;
    border: solid 1px #e4e5e8a4;
    overflow: hidden;
    border-radius: 6px;
}

.header__search-input {
    width: 100%;
    height: 100%;
    padding: 10px 50px 10px 20px;
    color: #999;
    /* font-weight: 100; */
    border: none;
    outline: none;
    background-color: #f5f5f5;
}

::placeholder {
    /* padding-left: 10px; */
    color: #999;
    font-weight: 400;
    font-size: 15px;
}

.header__search-btn {
    margin-right: 20px;
    color: #888;
    border: none;
    background-color: #f5f5f5;
}

.header__menu {
    width: 25%;
    height: 50px;
    display: flex;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
}

.header__feature {
    width: 96px;
    display: flex;
    justify-content: space-between;
}

.header__feature-block {
    width: 15px;
    height: 20px;
    padding-top: 15px;
}

.header__link {
    text-decoration: none;
    color: #333;
}

.header__feature__icon {
    cursor: pointer;
    position: relative;
}

/*  */

/* menu */

.header__link__all-all {
    display: none;
}

.header__link__all {
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 222;
    background-color: #fff;
}

.backgrourd {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 111;
    background-color: rgba(0, 0, 0, 0.5);
}

.link__all-row {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    /* margin: -15px -45px; */
}

.link__all-grid {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* margin: -15px -45px; */
}

.link__all__header {
    width: 100%;
    /* height: 50px; */
    display: flex;
    margin: 15px 0 0 0;
    right: 0;
    justify-content: space-between;
}

.all__header-icon {
    width: 15px;
    height: 24px;
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.all__header-icon-cloes {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -15;
    font-size: 24px;
    font-weight: 900;
    color: #888;
}

.all__laguegee {
    width: 150px;
    height: auto;
}

.all__language {
    width: 90px;
    height: 30px;
    margin-left: 60px;
    line-height: 20px;
}

/* 
.all__languge-next {
    position: relative;
    width: 155px;
    height: 35px;
    display: flex;
    padding: 0 70px 0 0;
    border: solid 1px #cecece;
    border-radius: 4px;
    background-color: #fff;
    display: none;
} */
/* 
.all__languge-now {
    margin: auto;
    height: 20px;
    display: flex;
} */
/* 
.all__languge-english {
    width: 1.1rem;
    height: 11px;
    object-fit: contain;
    margin-top: 2px;
} */
/* 
.all__languge-nema {
    padding-left: 5px;
} */
/* 

.all__languge-properr {
    color: #555;
    font-size: 14px;
    font-weight: 500;
} */

.all__language-main {
    display: flex;
    width: 100%;
    height: 30px;
    position: relative;
    line-height: 15px;
    right: -20px;
    justify-content: space-between;

}

.all__language-vietnam {
    width: 1.1rem;
    height: 11px;
    object-fit: contain;
    margin-top: 2px;
}

.all__language-img {
    width: 100%;
    height: 100%;
}

.all__language-proper {
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

.all__language-cloes {
    margin-top: 3px;
    font-size: 0.7em;
}


/* container */

.link__all__container {
    width: 100%;
    height: auto;
    text-align: center;
}

.all__header-heading {
    width: auto;
    height: auto;
    text-align: center;
    margin: -30px 0 45px 0;
}

.all__header-main {
    width: 100%;
    height: 2.6rem;
    color: #888;
    line-height: 1.4;
    font-size: 30px;
    font-weight: 550;
}

.all__container__item-link:hover {
    color: #e12020;
}

.all__container__item {
    list-style: none;
}

.all__container__item-link {
    text-decoration: none;
    color: #333;
    /* line-height: 50px; */
    font-size: 1.7rem;
    font-weight: 550;

}

/* footer */

.footer {
    width: 100%;
    padding-top: 15px;
}

.footer__header {
    width: 100%;
}

.footer__header-main {
    text-align: center;
    color: #999;
    font-weight: 100;
}


.footer__follow {
    width: 70%;
    height: 50px;
    margin: auto;
}

.footer__follow-container {
    width: 10em;
    height: 100%;
    margin: auto;
    display: flex;
}


.footer__follow-block {
    display: flex;
    width: 42px;
    height: 42px;
    margin: auto;
    border-radius: 21px;
    background-color: #e1e1e1;
}

.footer__follow-block:hover {
    background-color: #ef2b28;
}

.footer__follow-link {
    display: flex;
    height: 14px;
    margin: auto;
    color: #555;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.footer__follow-block:hover .footer__follow-link-icon {
    animation: ease follow 0.9s;
    color: #fff;
}

@keyframes follow {
    from {
        color: #444;
    }
    to {
        color: #fff;
    }
}


/* column chính */

.about__12column {
    width: 100%;
    height: 39.4rem;
    padding: 0 15px;

}

.about__grid {
    width: 100%;
    height: 100%;
}

.about__link {
    width: 100%;
    height: 100%;

}

.about__img {
    width: 100%;
    height: 100%;
}

.about__grid {
    display: flex;
}

.abuot__grid-row {
    width: 500px;
    height: 415px;
    padding-right: 2px;
    position: relative;
}

.abuot__grid-row:hover .about__grid-background {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: linear about__grid 0.3s;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 11;
}

@keyframes about__grid {
    from {
        background-color: rgba(0, 0, 0, 0.4);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.about__link-img {
    object-fit: contain;
}

.about__img--new {
    width: 100%;
    height: 100%;
}

.aboss {
    width: 100%;
    height: 33.1rem;
    padding: 1px 15px;
}

.about__link-img2{
    padding: 0 1px;
    object-fit: contain;
}

.category {
    width: 100%;
    height: auto;
    padding-bottom: 110px;
}

h3.category__title {
    text-align: center;
    line-height: 1.42857;
    font-size: 3em;
    font-weight: bold;
    font-variant: normal;
    color: #333;
    margin-bottom: 25px;
}

.category__product {
    width: 100%;
    height: auto;
    display: flex;
}

.category__grid {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
    /* display: flex; */
    /* height: ; */
}

.category__row2 {
    padding-top: 35px;
}




.category__item-img {
    border-radius: 6px;
    width: 350px;
    height: 350px;
    object-fit: contain;
    background-color: #f4f4f4;
}

.category__title {
    color: #555;
    font-weight: 400;
    /* font-size:initial; */
    line-height: 26px;
    padding: 18px;
}

.category__price {
    padding: 0 18px;
    display: flex;
    font-size: 20;
}

.category__price-origin {
    padding-right: 15px;
    color: #777;
}

.category__price-present {
    color: #e12020;
}

.contact {
    width: 100%;
    height: 400px;
    padding: 0 15px;
}

.contact__form {
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 70px 0;
    background-image: url(main.png/backgroud.jpg)
    
}

.contact__headr .contact__heading{
    font-size: 2em;
    font-weight: normal;
    color: #424242;
    line-height: 1.42857;
    font-family: inherit;
    margin-bottom: 35px;
}

.conytact__information .contact__input {
    width: 570px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #eaeaea;
}
::placeholder {
    padding-left: 20px;
}

.blog {
    width: 100%;
    padding: 0 15px;
}

.blog__header {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.42857;
    margin-bottom: 25px;
    /* color: ; */
}